@import "colors";
@import "responsivity";
@import "fonts";

$tag-colors:
  art $color-green,
  essay $color-pink,
  music $color-yellow,
  ephemera $color-blue
  ;

@function tag-color($name){
  @each $item in $tag-colors {
    $n: nth($item, 1);
    $c: nth($item, 2);

    @if $name == $n {
      @return $c;
    }
  }

  @return $color-medium;
};

@mixin tag($name){
  &.#{ $name }{
    background-color: tag-color($name);
  }
};

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.font-futura  { font-family: $font-family-futura; }
.font-cookie  { font-family: 'Cookie'; }
.font-century { font-family: $font-family-century; }
.font-hermes  { font-family: $font-family-hermes; }
.font-neutraface { font-family: $font-family-neutraface; }

$header-size: 2em;

h1,h2,h3,h4,h5,h6 {
}

header {
  z-index: 100;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: $header-size;
  text-align: right;
  overflow: hidden;
  @extend .clearfix;

  ul{
    margin: 0;
    padding: 0;
    float: right;

    li {
      display: block;
      float: left;

      a {
        display: block;
        height: $header-size;
        line-height: 1em;
        overflow: hidden;
        color: $color-dark;
        text-transform: uppercase;

        &:hover {
          color: $color-darkest;
        }
      }

      &.active {
        a {
          width: auto;
          text-indent: 0;
          overflow: visible;
          padding: 1em;
        }
      }
    }
  }

  ul.tags {
    li a {
      text-indent: 100%;
      width: 1.5em;
      padding: 1em 0;
    }
  }

  ul.links {
    li a {
      width: 2em;
      text-align: center;

      img {
        display: inline;
        width: 1em;
        line-height: 1em;
      }
    }
  }

  .right {
    @extend .clearfix;
    padding: 0.33em;
    padding-right: $column-gutter / 2;
    background-color: $color-dark;
  }

  .wordmark {
    float: right;
    margin: 0;

    img {
      display: inline;
      width: 8em;
      line-height: 1em;
    }
  }

  .current {
    padding: 1em;
    line-height: 1em;
    float: left;
    text-transform: uppercase;

    strong {
      font-weight: 400
    }
  }
}

layout {
  @extend .clearfix;
}

figure {
  padding: 1em;
  background-color: $color-neutral;

  figcaption {
    margin-top: 0.5em;
    margin-bottom: 1.25em;
    number, work {
      font-weight: 400;
    }

    tag {
      float: right;
    }
  }
}

tag {
  display: block;
  height: 1em;
  width: 1em;
  background-color: $color-medium;
  position: relative;

  @include tag(art);
  @include tag(ephemera);
  @include tag(essay);
  @include tag(music);
}

byline {
  text-transform: uppercase;

  date {
    display: block;
    float: right;
    margin-right: 1em;
  }

  tag {
    float: right;
  }
}

worktitle {
  font-weight: 400;
}

lyrics {
  font-family: $font-family-century;
  display: block;

  worktitle {
    display: block;
    @extend p.lead;
    margin-bottom: 1.6em;
  }

  p tag {
    display: block;
    float: right;
    top: 0.125em;
  }
}

loader {
  display: block;
  text-align: center;
  &:after {
    content: 'Loading ...';
  }
}

separator {
  display: block;
  width: 100%;
  position: relative;
  margin-top: $header-size;
  height: $header-size;
  color: $color-medium;
  @extend .clearfix;

  &:before {
    content: ' ';
    width: 100%;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid $color-medium;
  }

  date {
    display: block;
    line-height: 1em;
    padding: 0 $column-gutter / 2;
    padding-top: 0.5em;
    position: relative;
    z-index: 2;
    background-color: $color-light;
    float: left;

    &.center {
      float: none;
      text-align: center;
      &:before {
        @extend separator:before;
      }
    }
  }
}

.category-indicator {
  height: 1em;
  width: 100%;
}

.yt-player {
  margin: 0 auto;
  height: 400px;
  width: 100%;
}

.textfill {
  //@include opacity(0);
}

.section {
  padding-top: $header-size;
  padding-bottom: $header-size * 1.25;
  position: relative;
}

.section.mfm {
  background-color: rgba(42,24,7,1);
  color: $color-light;

  h1 {
    text-transform: uppercase;
    color: lighten($color-brown-pale-warm, 20%);
    font-weight: 400;
    font-family: 'Prisma Web';
  }

  h3 {
    font-weight: 200;
    font-family: $font-family-futura;
    color: $color-light;
  }
}

.section{
  &.demo1 {
    background-color: $color-pink;
  }
  &.demo2 {
    background-color: $color-green;
  }
  &.demo3 {
    background-color: $color-yellow;
  }
  &.demo4 {
    background-color: $color-blue;
  }
}

@import "articles/*";
