.section
  .row
    .small-12.large-6.columns
      %h1.textfill{ :'data-line-height' => 1 }A Case for<br/>Handwriting
  .row
    .small-12.large-6.columns
      %p.lead They ask seemingly daily, plaintive and accusatory:
      %p
        %a{ :href => 'http://www.reddit.com/r/AskReddit/comments/j6y2u/is_it_even_necessary_to_teach_cursive_any_more/' }
          &quot;Is it even necessary to teach cursive any more?&quot;<br/>
        %a{ :href => 'http://www.reddit.com/r/AskReddit/comments/e3i8f/do_you_think_that_cursive_writing_education/'}
          &quot;Do you think that cursive writing education should be replaced by typing education for 1-2nd graders?&quot;<br/>
        %a{ :href => 'http://www.reddit.com/r/AskReddit/comments/12qp6w/in_3rd_grade_i_was_told_i_would_use_cursive/' }
          &quot;In 3rd grade I was told I would use 'cursive' writing for the rest of my life. Reddit, what's the biggest lie of your childhood?'&quot;
      %p the case always claimed that handwriting is an artifact of a bygone world of business scribes, written correspondance and it's a difficult notion with which to argue, as is there any foreseeable
  .row
    .small-5.columns
      = part('figure', :image => 'georgia.jpg', :class => 'transparent')
