.section
  .row
    .small-12.large-8.columns
      = part('figure', :image => 'iceberg.jpg', :title => 'Iceberg', :year => '2013', :media => 'Acrylic on canvas', :tags => ['ephemera', 'art'])

      .panel
        %p.lead The Road: A Comedic Translation
        %p Pitch-perfect lampooning of Cormac Mccarthy's verbose, Faulknerian esotericism. A madman's timeshare.
        %p
          %a{ :href => 'http://www.themillions.com/2009/10/the-road-a-comedic-translation.html' }http://www.themillions.com/2009/10/the-road-a-comedic-translation.html
    .small-12.large-4.columns
      %lyrics.be-kind
        %worktitle
          Be Kind
        %p
          = part('audio', :color => 'white', :src => 'https://dl.dropboxusercontent.com/u/10730648/Be%20Kind.wav')
        %p
          be kind, be gentle, be meek<br/>
          know that all living seek<br/>
          a roof of banana leaves<br/>
          the thought some familiar life breathes<br/>
          so be kind, be gentle, be meek
        %p
          be kind, be gentle, be meek<br/>
          know that all living seek<br/>
          to drink, to break bread<br/>
          to be comforted, to be fed<br/>
          so be kind, be gentle, be meek
        %p
          there will forever be power in pain<br/>
          your walk one of silence and dread<br/>
          when you feel too much wrought<br/>
          be calmed by the thought<br/>
          we all grasp a common thread<br/>
        %p
          be kind, be gentle, be meek<br/>
          know that all living seek<br/>
          to have and to hold<br/>
          young, old<br/>
          be kind, be gentle, be meek
          %tag{ :class => 'music' }
