%header
  .row.collapse
    .small-12.large-6.large-offset-6.columns
      .right
        .wordmark
          %img{ :src => '/img/ragged-dirty-inv.svg', :alt => 'Ragged &amp; Dirty' }
        %ul.links
          %li
            %a{ :href => '#' }
              %img{ :src => '/img/settings-icon-inv.svg' }
      %ul.tags
        %li.bg-pink
          %a{ :href => '#' } Essay
        %li.bg-green
          %a{ :href => '#' } Art
        %li.bg-yellow
          %a{ :href => '#' } Music
        %li.bg-blue
          %a{ :href => '#' } Ephemera
