.row
  .small-12.columns
    %h1.textfill jQuery.textfill
.row
  .small-6.columns
    .big-block.textfill
      %h2 Les Anglais
      %h2 <em>sont les seuls &agrave; rouler</em>
      %h2 &agrave; gauche.
  .small-6.columns
    .side-block.textfill
      %p Quand
      %p on
      %p court
      %p sous
      %p la pluie
