.row
  .small-12.columns
    %h1.textfill jQuery.textfill
.row
  .small-4.columns
    .banner
  .small-4.columns
    .banner.center
      %h2 big
      %h2 fat
      %h2 fonts 
  .small-1.columns
    .banner
      %h2 !
  .small-4.columns
