!!! 5
%html
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/css/styles.css', :media => 'screen' }
    %script{ :type => 'text/javascript', :src => '/js/libs/modernizr.min.js' }
  %body
    = haml :header
    %layout
      = yield
    %script{ :type => 'text/javascript', :src => '/js/libs/require.min.js', :'data-main' => '/js/main' }
    -#%script{ :src => 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAoJCfnRfOtohEqUAMmA_mWWVFhnKf7LpU&sensor=false'}
