!!! 5
%html
  %head
    %meta{ :name => 'viewport', :content => 'width=device-width' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/css/styles.css', :media => 'screen' }
    %script{ :type => 'text/javascript', :src => '/js/libs/modernizr.min.js' }
  %body
    = haml :header
    %layout
      = yield
    %script{ :type => 'text/javascript', :src => '/js/libs/require.min.js' }
    :javascript
      require.config({
        paths: {
          //main: '/js/main'
          main: '/js/libs/main.built'
        }
      });
      require(['main']);
