.row
  .small-12.columns
    %essay
      .section-title
        %h1.textfill You Got to Move
      .row
        .small-6.columns
          .essay-title
            %h3 Mississippi Fred McDowell
        .small-6.columns.text-right
          %byline
            %tag.essay
            %tag.music
            %date 9/3/2013
      %p There's a picture of Mississippi Fred McDowell in starched shortsleeves. He's sitting on a bentwood chair, hands like paper on his smallbody guitar and he's playing slide with a pocketknife. To sing and to play takes a practiced gaze. You see it in pictures, but pictures are transitory, capturing only a moment and to get a real feel of how a body holds that line you have to be there. Or there's video.

.row
  .small-5.columns
    .yt-player{ :'data-video-id' => '64T6ugyWXAA', :'data-options' => '{"autoplay": true, "seekTo":"108"}' }

  .small-7.columns
    %ul.small-block-grid-3.stills
      %li
        %img{ :src => '/img/mfm-still-1.png' }
      %li
        %img{ :src => '/img/mfm-still-2.png' }
      %li
        %img{ :src => '/img/mfm-still-3.png' }
      %li
        %img{ :src => '/img/mfm-still-4.png' }
      %li
        %img{ :src => '/img/mfm-still-5.png' }
      %li
        %img{ :src => '/img/mfm-still-6.png' }
      %li
        %img{ :src => '/img/mfm-still-7.png' }
      %li
        %img{ :src => '/img/mfm-still-8.png' }
      %li
        %img{ :src => '/img/mfm-still-9.png' }
