.section.service-intro
  .row
    .small-3.large-4.columns
      %h1.textfill.chap I.
    .small-9.show-for-small.columns
      %h1.textfill.service The Service
      %h1.textfill Station
    .small-12.large-8.columns
      .hide-for-small
        %h1.textfill.service The Service
        %h1.textfill Station
      %h2 Highway 169 runs nearly true west.
      %p West through country writ large. Across an antediluvian plain, corn and soybean fields either side withering brown in the sun, brittle stalks bent groundwards by the wind made in passing and in passing only.
      %p West past tarpaper sided houses, vinyl dreams, crumbling ruins, wavy in the lines of heat. Past corner stores where the stories of this place are told and retold, chanted like lore in the rosy fingered dawn by men in coveralls stubbing cigarettes into ashtrays filled with kitty litter. Stories of a past remote, wasted and ruined, tilled alike, fencerow to fencerow. Identical plots carved of the larger whole of this great swath of loam and soil.
      %p West through Karnak Illinois, grave of the gods aptly named, were it any gods deigned to die and be buried in this place, if ever known, now forgivingly forgotten. It runs west until it runs no more and peters out over a rise into highway 37. Traveled up or down through other towns, Thebes, Dongola, Palestine, Lebanon, after ancient cities so named and likewise, Little Egypt's nadir, Cairo, where you can read their eptiaphs painted on the river walls.
      .hide-video
        #fm-jh
  .drive-animation#panorama
.section
.section
