.section.service-intro
  .row
    .small-3.large-4.columns
      %h1.textfill.chap I.
    .small-9.show-for-small.columns
      %h1.textfill The Service
      %h1.textfill Station
    .small-12.large-8.columns
      .hide-for-small
        %h1.textfill The Service
        %h1.textfill Station
      %h2 Highway 169 runs nearly true west.
      %p It runs west through country writ large, across an antediluvian plain, corn and soybean fields either side, new shooted stalks bent groundwards in the wind made in passing and in passing only. Past tarpaper sided houses white and baking in the noonday sun, vinyl sided dreams and crumbling ruins, wavy through the heat lines, glimpses of a past remote, wasted and ruined.
      %p Through Karnak Illinois, grave of the gods, aptly named were it any gods deigned to die and be buried in this place. This place if ever known now forgivingly forgotten. Here death is no purview reserved for gods alone. Here death is democratic, the townfolk, businesses, livestock, economies of scale, the land itself. Travel down through other towns, Thebes, Dongola, Palestine, Lebanon, after ancient eastern cities so named. Read their epitaphs painted on the river walls.
      .hide-video
        #fm-jh
  .drive-animation#panorama
