.section
  .row
    .small-12.large-6.columns
      %h2 Notes About What<br/>You're Looking At
  .row
    .small-12.large-6.columns
      %p This is an experimental form of publishing online, as clich&eacute;d and grandiose as that sounds<ref data-ref="1"/>, incorporating writing and media of all kinds, image, video and interactive in order to tell stories more effectively.
      %p The web is old news, yet somehow we persist at an attempt to conform its potential for presentation to even older forms. It's time things changed.
      %p I have no specific plans for content. Ideally what you'll find here will be informative and entertaining. More likely it'll be a compendium of minutia, the tedium of the day-to-day. It's a one-way conversation, assuming the ability to comment is never added. What it's not is a confessional.
    .small-12.large-6.columns
      %p Hand in hand with the spirit of the project, know that what you see is subject to change, dates moved, text updated and revised at no notice. You're better off caching than linking.
      %p I have no pretensions toward punditry, professorship nor journalism. I'm an unreliable narrator without facilities for fact-checking. And though I'll make an effort to reference what I cite, please, and it's the only time I'll say it, take what you read here and everywhere with a grain of salt.
      %footer
        %note{ :'data-ref' => 1 }
          I'm sitting on the porch composing this note and as if to underscore what I've just written, just now, <em>Ride of the Valkyries</em> comes blasting out of one of the neighboring apartments.
