/*! article: the-service-station.css */
@import "responsivity/fonts/hermes";

.video-wrap {
  height: 200px;
  background-color: $color-dark;
}

article.the-service-station {
  background-color: $color-dark;
}

.section.service-intro {
  font-family: $font-family-century;
  //min-height: 900px;
  background-color: $color-dark;
  color: $color-brown-pale-warm;

  h1{
    text-transform: uppercase;
    font-family: $font-family-hermes;
    font-weight: 800;
    @include text-shadow(
      rgba($color-orange, 0.2) 0px -2px 0px,
      rgba($color-orange, 0.2) 2px 5px 0px
      );
    color: $color-light;

    &.callout {
      padding-right: 1em;
    }

    &.chap {
      margin-top: 0;
      color: $color-light;
    }
  }

  h2, p {
    color: $color-light;
    font-family: $font-family-century;
    font-weight: normal;
    @include text-shadow($color-dark 0.25em 0.25em 0.5em);
  }

  .row {
    position: relative;
    z-index: 10;
  }

  .columns {
    position: relative;
    z-index: 10;
  }

  .map-container{
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    @include opacity(0.4);

    .map {
      //height: 900px;
      width: 100%;
    }
  }
}

.hide-video {
  @include opacity(0);
}

#fm-jh {
}

.yt-player {
  background: $color-darkest;
}

.drive-animation{
  z-index: 1;
  //height: 900px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top:0;
  left: 0;
  @include opacity(0.5);

  .step {
    position: absolute;
    height: 500px;
    width: 100%;
    top: 0;
    left: 0;

    .frame {
      height: 500px;
      width: 100%;
    }
  }
}

.animation-controls {
  margin-top: 1em;
  input[type="text"]{
    max-width: 80px;
  }
  button {
    font-size: 0.8em;
  }
}

.animation-log {
  table {
    margin: 0;
    margin-top: 1em;
    width: 100%;

    td {
      width: 50%;
      padding: 0.25em;
      &:not(.xml){
        border: 1px solid #ccc;
      }

      &.title {
        font-weight: 600;
      }
    }
  }
  textarea {
    min-height: 300px;
  }
}
