/*! article: you-got-to-move.css */
@import "responsivity/fonts/prisma";

.section.mfm {
  background-color: rgba(42,24,7,1);
  color: $color-light;

  h1 {
    text-transform: uppercase;
    color: lighten($color-brown-pale-warm, 20%);
    font-weight: 400;
    font-family: 'Prisma Web';
    letter-spacing: 0.01em;
  }

  h3 {
    font-weight: 200;
    font-family: $font-family-futura;
    color: $color-light;
  }
}
